.gallery {
    text-align: center;
    margin-bottom: 50px;
}

.gallery a {
    text-decoration: none;
}

/*.gallery_preview {*/
/*    width: 320px;*/
/*    height: 240px;*/
/*    border: 0;*/
/*    margin: 0;*/
/*}*/
img {
    alignment: center;
    width: 300px;
    height: 200px;
    object-fit: contain;
    padding: 5px;
    border: 8px solid #999999;
    background-color: #e6e6e6;
}

/*.gallery_preview:hover {*/
/*    border: 1px dotted #333;*/
/*}*/

p {
    text-align: center;
}



